body
{
 background-color:black;
}
#outer
{
  height:700px;
  width:900px;
  margin:0px auto;
}
#top
{
  height:600px;
  width:900px;
}
#top-left
{
  height:600px;
  width:450px;
  float:left;
}
#top-left-1
{
   height:540px;
  width:80px;
  background-image:url("screenshot4.png");
  margin-left:20px;
  margin-top:20px;
float:left;
}
#top-left-2
{
   height:540px;
  width:250px;
  background-image:url("screenshot3.png");
  margin-top:30px;
   margin-left:20px;
  float:left
}
#top-right
{
  height:600px;
  width:440px;
  float:left;
}
#one
{
   height: 400px;
   width: 400px;
   border:1px solid white;
}
h2
{
  color:white;
  font-family:monotype corsiva;
  font-size:40;
}
input
{
  margin-left:50px;
  width:300px;
  background-color:black;
  color:white;
  height:50px;
}
button
{
  margin-left:50px;
  width:300px;
  background-color:blue;
  color:white;
  height:30px;
  border-radius:10px;
}
p{
   color:blue;
}
p1{
  color:white;
  margin-left:150px;
}
#two
{
   height: 50px;
   width: 400px;
   border:1px solid white;
}
.center
{
   margin: auto;
  width: 50%;
  padding: 10px;
}
p2
{
 color:white;
}
#three
{
 color:white;
}
#t1
{
  height:50px;
  width:150px;
  border:1px solid white;
  float:left;
  margin-left:20px;
  margin-top:20px;
}
img
{
    height:50px;
  width:150px;
  border-radius:10px;
}
#t2
{
  height:50px;
  width:150px;
  border:1px solid white;
  float:left;
  margin-left:20px;
  margin-top:20px;
}
img
{
    height:50px;
  width:150px;
  border-radius:10px;
}
a
{
  color:grey;
}
.pages{
   padding-top: 25px;
}
.copy-right{
    padding-top: 8px;
     color:grey;
    text-align:center;
}


